
<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" type="text/css" href="../../static/assets/css/cardsstyle.css">

	  <script type="text/javascript" src="assets/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>
<body>
  <nav id="navbar">
    <a class="logo">ChorEZ</a>
    <a id="tab-container">
      <a class="tab">My Tasks</a>
      <a class="tab">Chores</a>
      <a class="tab">People</a>
      <a class="tab">User Picture Here</a>
    </a>

  </nav>

		<div id = "container">


			<div id = "contentcontainer">

				<div id="content">


          <div class="grid-container">
            <div class="grid-item">
              <div class = "tasktitle">

                <p class = "taskname">Take out trash </p>

                <i class="material-icons">edit</i>
              </div>
              <span class="divider"></span>
              <p class="day-time">Thursday 9PM </p>
              <p class="date">October 9 </p>
              <span class="divider"></span>
              <p class = "person-name">IRIS</p>

            </div>
            <div class="grid-item">
              <div class = "tasktitle">

                <p class = "taskname">Take out trash </p>

                <i class="material-icons">edit</i>
              </div>
              <span class="divider"></span>
              <p class="day-time">Thursday 9PM </p>
              <p class="date">October 9 </p>
              <span class="divider"></span>
              <p class = "person-name">IRIS</p>

            </div>
            <div class="grid-item">
              <div class = "tasktitle">

                <p class = "taskname">Take out trash </p>

                <i class="material-icons">edit</i>
              </div>
              <span class="divider"></span>
              <p class="day-time">Thursday 9PM </p>
              <p class="date">October 9 </p>
              <span class="divider"></span>
              <p class = "person-name">IRIS</p>

            </div>
            <div class="grid-item">
              <div class = "tasktitle">

                <p class = "taskname">Take out trash </p>

                <i class="material-icons">edit</i>
              </div>
              <span class="divider"></span>
              <p class="day-time">Thursday 9PM </p>
              <p class="date">October 9 </p>
              <span class="divider"></span>
              <p class = "person-name">IRIS</p>

            </div>
            <div class="grid-item">
              <div class = "tasktitle">

                <p class = "taskname">Take out trash </p>

                <i class="material-icons">edit</i>
              </div>
              <span class="divider"></span>
              <p class="day-time">Thursday 9PM </p>
              <p class="date">October 9 </p>
              <span class="divider"></span>
              <p class = "person-name">IRIS</p>

            </div>

            <div class="grid-item">
              <i class="material-icons md-48">library_add</i>
            </div>





          </div>



			</div>




		</div>

</body>
</html>
